## de02-1 pandas 基礎: 作業

這個作業的目的**主要是要學員了解如何使用pandas來進行數據的處理（新增、修改、刪除與選取)**。當然還有以下其它的功能:

* Cleaning
* Filtering
* Sorting
* Deduplication

至於數據的**合併、分割與聚合**會在de02-2章節練習。
* Joining
* Splitting
* Summarization

In [ ]:
import pandas as pd

# 使用dict來建立dataframe物件
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)

## 範例#0A

利用index及columns屬性(Attribute)來客製化Pandas DataFrame的資料索引成為`["s1","s2","s3", "s4"]`及欄位名稱成為` ["student_name", "math_score", "chinese_score"]`, 並打印出來

In [ ]:
# example-0A: 客製化Pandas DataFrame的資料索引及欄位名稱
import pandas as pd 

grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)

print("=================================")
print("處理結果:")

## write your code below
df.index = ["s1", "s2", "s3", "s4"] # 自訂索引值
df.columns = ["student_name", "math_score", "chinese_score"] # 自訂欄位名稱
print(df)

## 範例#0B

利用`head()`函數來取得dataframe最前面的2筆資料, 並打印出來

In [ ]:
## example-0B

import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

## write your code below
print(df.head(2))

## 範例#0C

利用`tail()`函數來取得最後面的3筆資料, 並打印出來

In [ ]:
## example-0C

import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

## write your code below

new_df = df.tail(3)
print(new_df)

## 範例#0D

利用在中括號`[]`中指定「欄位名稱」，來取得`name`與`chinese`的資料, 並打印出來

In [ ]:
## example-0D
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

## write your code below

new_df = df[["name", "chinese"]]
print(new_df)

## 範例#0E

利用`at[資料索引值,欄位名稱]`來取得索引值為`1`的`math`欄位資料, 並打印出來

In [ ]:
## example-0E
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

## write your code below

print(df.at[1, "math"])

## 範例#0F

利用`loc[資料索引值,欄位名稱]`來取得資料索引值為`1`和`3`的`name`及`chinese`欄位資料, 並打印出來

In [ ]:
## example-0F
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

## write your code below
print(df.loc[[1, 3], ["name", "chinese"]])

## 範例#0G

利用`insert()`在指定的欄位`第2欄`位置新增欄位資料"`english`"而值為`[88, 72, 74, 98]`, 並打印出來

In [ ]:
## example-0G
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")
df.insert(2, column="english", value=[88, 72, 74, 98])
print(df)

## 範例#0H

利用`append()`透過傳入字典(dict)物件指定各欄位的值新增一筆資料`{"name": "Henry", "math": 60, "chinese": 62}`, 並打印出來

In [ ]:
## example-0H
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

new_df = df.append({
    "name": "Henry",
    "math": 60,
    "chinese": 62,
}, ignore_index=True)

print(new_df)

## 作業#01

利用Pandas DataFrame的`at[]`取得索引值為`1`的`math`欄位資料，接著進行資料內容的修改成為`100`, 並打印出來

In [ ]:
## task01
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

# Write your code below

## 作業#02

利用`drop(欄位名稱列表,axis=1)`刪除指定欄位名稱的欄位`math`, 並打印出來

In [ ]:
## task02
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

# Write your code below

## 作業#03

利用`drop(資料索引列表,axis=0)`刪除指定資料索引的資料`[0, 3]`, 並打印出來

In [ ]:
## task03
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

# Write your code below

## 作業#04

利用`dropna()`刪除含有NaN或空值的資料, 並打印出來

In [ ]:
## task04
import pandas as pd 
import numpy as np

grades = {
    "name": ["Mike", "Sherry", np.NaN, "John"],
    "city": ["Taipei", np.NaN, "Kaohsiung", "Taichung"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的dataframe:")
print(df)
 
print("=================================")
print("處理結果:")

# Write your code below

## 作業#05

利用`drop_duplicates()`刪除重複的資料, 並打印出來

In [ ]:
## task05
import pandas as pd 
 
grades = {
    "name": ["Mike", "Mike", "Cindy", "John"],
    "city": ["Taipei", "Taipei", "Kaohsiung", "Taichung"],
    "math": [80, 80, 93, 86],
    "chinese": [80, 80, 93, 86]
}
 
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("======================================")
print("處理結果:")

# Write your code below

## 作業#06

利用`中括號[]`存取欄位來篩選`math`大於`80`的資料, 並打印出來

In [ ]:
## task06
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("======================================")
print("處理結果:")

# Write your code below

## 作業#07

利用`isin()`來篩選出`name`欄位包含`John`字串的資料, 並打印出來

In [ ]:
## task07
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("======================================")
print("處理結果:")

# Write your code below

## 作業#08

利用`sort_index()`依照索引值來進行`遞增`(ascending)排序, 並打印出來

In [ ]:
## task08
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
df.index = ["s3", "s1", "s4", "s2"]  # 自訂資料索引值

print("原來的df")
print(df)
 
print("======================================")
print("處理結果:")

# Write your code below

## 作業#09

利用`sort_index()`依照索引值來進行`遞減`(desending)排序, 並打印出來

In [ ]:
## task09
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
df.index = ["s3", "s1", "s4", "s2"]  # 自訂資料索引值

print("原來的df")
print(df)
 
print("======================================")
print("處理結果:")

# Write your code below

## 作業#10

利用`sort_values()`依照欄位內容來進行`遞減`(desending)排序, 並打印出來

In [ ]:
## task10
import pandas as pd 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)

print("原來的df")
print(df)
 
print("======================================")
print("處理結果:")

# Write your code below